@font-face {
	font-family: 'iconfont'; /* Project id 3412489 */
	src: url('//at.alicdn.com/t/font_3412489_nfyl9m3zqmf.woff2?t=1653467200657') format('woff2'),
		url('//at.alicdn.com/t/font_3412489_nfyl9m3zqmf.woff?t=1653467200657') format('woff'),
		url('//at.alicdn.com/t/font_3412489_nfyl9m3zqmf.ttf?t=1653467200657') format('truetype');
}

.iconfont {
	font-family: 'iconfont' !important;
	font-size: 16px;
	font-style: normal;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-pause:before {
	content: '\e63d';
}

.icon-prev:before {
	content: '\e693';
}

.icon-play:before {
	content: '\e87c';
}
